@import "../../vars.css";

.container {
  max-width: 60ch;
  display: flex;
  flex-direction: column;
  margin: 14.1rem 3rem;
}

.container .title {
  font-size: 10rem;
  color: #3e3b3b;
}

.container .slogan {
  font-size: 2rem;
  color: #989797;
  margin: 0 0.6rem;
}
