@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 3rem;
}

.container .leftcontainer ul {
  list-style: none;
  display: flex;
  gap: 5rem;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.container .leftcontainer a {
  font-family: var(--font-roboto);
  text-decoration: none;
  color: rgb(82, 82, 82);
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}

.container .leftcontainer a:hover {
  color: rgb(158, 158, 158);
}

.container .leftcontainer .imglogo {
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
}

.container .rightcontainer i {
  color: white;
  cursor: pointer;
  background-color: black;
  border-radius: 50%;
  padding: 0.6rem;
}

@media screen and (max-width: 768px) {
  .container .leftcontainer li {
    display: none;
  }
}
