@import "../vars.css";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.container .leftcontainer ul {
  list-style: none;
  display: flex;
  gap: 5rem;
  align-items: center;
}

.container .leftcontainer a {
  font-family: var(--font-roboto);
  text-decoration: none;
  color: rgb(82, 82, 82);
  font-weight: 500;
  font-size: 1.2rem;
}

.container .leftcontainer .imglogo {
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
}

.container .rightcontainer i {
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 0.5rem;
}
